@import "../assets/scss/colors";
@import "../assets/scss/layout";
@import "../assets/scss/typography";
@import "../assets/scss/variables";

// makeshift reset
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background: $white;
  @include serif;
  font-size: 1rem;
  color: $black;
}
* {
  box-sizing: border-box;
}
a {
  color: $black;
  &:hover {
    color: $black;
  }
}
#root {
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
