@import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville");
html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #000; }

* {
  box-sizing: border-box; }

a {
  color: #5f6973;
  transition: color 0.25s ease-out; }
  a:hover {
    color: #393e40; }

#root {
  max-width: 100%;
  overflow: hidden;
  padding: 0; }
