@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Playfair+Display");
.serif {
  font-family: "Playfair Display", serif; }

.sans-serif {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #000; }

* {
  box-sizing: border-box; }

a {
  color: #5f6973;
  transition: color 0.25s ease-out; }
  a:hover {
    color: #393e40; }

#root {
  max-width: 100%;
  overflow: hidden;
  padding: 0; }
