@import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville");
html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  color: #000; }

a {
  color: #000; }
  a:hover {
    color: #000; }

#root {
  padding: 0; }
