@import "../assets/scss/colors";
@import "../assets/scss/layout";
@import "../assets/scss/typography";
@import "../assets/scss/variables";

// makeshift reset
html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background: $white;
  @include serif;
  font-size: 1rem;
  color: $black;
}

#root {
  padding: 0;
}
