// Theme primary colors
$black: #000;
$white: #fff;
$beige: #f6f7eb;
$navy: #011627;
$bbar-yellow: #f5d015;
$error: #e94f37;
$success: #0c472b;

// Theme grays
$jet-black: #393e40;
$nickel-gray: #5f6973;
$ghost: #eaeaea;
