// Settings
@import 'settings/colors';
@import 'settings/layout';
@import 'settings/typography';
@import 'settings/variables';

// Components
@import 'components/Footer';
@import 'components/Gallery';
@import 'components/GoogleMap';
@import 'components/Home';
@import 'components/Jobs';
@import 'components/Menu';
@import 'components/Navigation';
@import 'components/OurStory';
@import 'components/Testimonials';
