.Gallery-image--1 {
  background-image: url(./assets/gallery-1.jpg); }
  @media only screen and (max-width: 769px) {
    .Gallery-image--1 {
      background-image: url(./assets/gallery-1-mobile.jpg); } }

.Gallery-image--2 {
  background-image: url(./assets/gallery-2.jpg); }
  @media only screen and (max-width: 769px) {
    .Gallery-image--2 {
      background-image: url(./assets/gallery-2-mobile.jpg); } }

.Gallery-image--3 {
  background-image: url(./assets/gallery-3.jpg); }
  @media only screen and (max-width: 769px) {
    .Gallery-image--3 {
      background-image: url(./assets/gallery-3-mobile.jpg); } }

.Gallery-image--4 {
  background-image: url(./assets/gallery-4.jpg); }
  @media only screen and (max-width: 769px) {
    .Gallery-image--4 {
      background-image: url(./assets/gallery-4-mobile.jpg); } }

.Gallery-image--5 {
  background-image: url(./assets/gallery-5.jpg); }
  @media only screen and (max-width: 769px) {
    .Gallery-image--5 {
      background-image: url(./assets/gallery-5-mobile.jpg); } }
