.Gallery-stock {
  &--1 {
    background-image: url(./assets/stock1.jpg);
  }
  &--2 {
    background-image: url(./assets/stock2.jpg);
  }
  &--3 {
    background-image: url(./assets/stock3.jpg);
  }
  &--4 {
    background-image: url(./assets/stock4.jpg);
  }
  &--5 {
    background-image: url(./assets/stock5.jpg);
  }
}
