.Gallery-stock--1 {
  background-image: url(./assets/stock1.jpg); }

.Gallery-stock--2 {
  background-image: url(./assets/stock2.jpg); }

.Gallery-stock--3 {
  background-image: url(./assets/stock3.jpg); }

.Gallery-stock--4 {
  background-image: url(./assets/stock4.jpg); }

.Gallery-stock--5 {
  background-image: url(./assets/stock5.jpg); }
