.Cta {
  padding: 5rem 1rem;
  text-align: center;

  &--heading {
    @include serif();
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0;

    @media only screen and (min-width: $desktop) {
      font-size: 3rem;
    }
  }

  &--copy {
    margin-bottom: 0;
  }
}
