.Gallery {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media only screen and (min-width: $desktop) {
    max-width: 1400px;
    display: block;
    max-height: 280px;
  }

  &-stock {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 50vw;
    @media only screen and (min-width: $desktop) {
      display: inline-block;
      width: 20%;
      max-height: 280px;
    }
  }
}
