.Hero {
  position: relative;
  text-align: center;
  z-index: 0;
  background: $white;
  color: $black;

  &-img {
    &--mobile,
    &--desktop {
      marign: 0 auto;
      width: 100%;
    }

    &--mobile {
      display: block;
      @media only screen and (min-width: $desktop) {
        display: none;
      }
    }
    &--desktop {
      display: none;

      @media only screen and (min-width: $desktop) {
        display: block;
      }
    }
  }

  // &-image {
  //   width: 100%;
  //   min-height: 15rem;
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;

  //   @media only screen and (min-width: $desktop) {
  //     min-height: 38rem;
  //   }
  // }

  &-container {
    padding: 3rem 0;
  }

  &-slogan {
    @include serif;
    font-weight: normal;
    font-size: 2.25rem;

    @media only screen and (min-width: $desktop) {
      font-size: 3rem;
    }
  }

  &-address {
    padding: 1rem 0;
    @include sans-serif;
    font-style: normal;
    font-size: 1.25rem;

    & a {
      @media (any-hover: hover) {
        &:hover {
          color: $bbar-yellow;
        }
      }
    }
  }

  &-phone {
    @media (any-hover: hover) {
      &:hover {
        color: $bbar-yellow;
      }
    }
  }

  &-hours {
    font-size: 1.15rem;
  }
  &-cta {
    background-color: $bbar-yellow;

    @media only screen and (min-width: $desktop) {
      margin-bottom: 3rem;
    }
  }
}
