.Menu {
  background: $white;

  &-heroImg {
    &--mobile,
    &--desktop {
      margin: 0 auto;
      width: 100%;
    }

    &--mobile {
      display: block;
      @media only screen and (min-width: $desktop) {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @media only screen and (min-width: $desktop) {
        display: block;
      }
    }
  }

  &-wrapper {
    max-width: 1400px;
    padding: 0 1rem;
    margin: 0 auto;

    @media only screen and (min-width: $desktop) {
      padding: 0 2rem;
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: 1rem auto;
    box-shadow: $card-shadow;

    @media only screen and (min-width: $desktop) {
      margin: 2rem auto;
    }
  }
}
