@import "../../../assets/scss/colors";
@import "../../../assets/scss/variables";
$desktop: 768px;
$border-bottom: 1px solid $ghost;

* {
  box-sizing: border-box;
}

.Navigation {
  // Mobile styles
  display: inline-block;
  width: 100%;
  text-align: center;

  &-logo {
    display: inline-block;
    padding: 1.25rem 0;
    font-size: 1.75rem;
  }

  &-menu-toggle {
    position: absolute;
    height: 1.5rem;
    width: 2rem;
    top: 1.25rem;
    right: 1.25rem;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 100%;
      border-bottom: 2px solid $black;
      transform: rotate(0);
      transform-origin: top left;
      transition: transform 0.25s ease;

      .nav-is-open & {
        transform: rotate(39.5deg);
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 1.25rem;
      right: 0;
      height: 0;
      width: 100%;
      border-bottom: 2px solid $black;
      transform: rotate(0);
      transform-origin: bottom left;
      transition: transform 0.25s ease;

      .nav-is-open & {
        transform: rotate(-39.5deg);
      }
    }

    &--icon {
      padding-top: 0.65rem;
      margin: 0 auto;
      max-width: 2rem;
      border-bottom: 2px solid $black;
      transition: max-width 0.2s ease;

      .nav-is-open & {
        max-width: 0;
      }
    }
  }

  &-list {
    position: fixed;
    overflow: hidden;
    list-style: none;
    height: 100%;
    width: 100%;
    max-height: 0;
    padding: 0;
    margin: 0;
    background: $white;
    border-bottom: $border-bottom;
    transition: max-height 0.3s ease-out;

    .nav-is-open & {
      max-height: 14rem;
    }
  }

  &-link {
    display: inline-block;
    padding: 0.5rem 0;
    margin: 1rem auto;
    color: $black;
    text-decoration: none;
  }

  @media (any-hover: hover) {
    &:hover {
      color: $black;
    }
  }
}
