@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Playfair+Display");
.serif {
  font-family: 'Playfair Display', serif; }

.sans-serif {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.Hero {
  position: relative;
  text-align: center;
  z-index: 0;
  background: #fff;
  color: #000; }
  .Hero-image {
    width: 100%;
    min-height: 15rem;
    background: #fff;
    background-image: url(./assets/overhead.jpg);
    background-image: webkit-image-set(url(./assets/overhead.jpg) 1x, url(./assets/overhead@2x.jpg) 2x);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    @media only screen and (min-width: 769px) {
      .Hero-image {
        min-height: 38rem; } }
  .Hero-container {
    padding: 3rem 0; }
  .Hero-slogan {
    font-family: 'Playfair Display', serif;
    font-size: 1.75rem;
    font-weight: normal;
    font-size: 2.25rem; }
    @media only screen and (min-width: 769px) {
      .Hero-slogan {
        font-size: 3rem; } }
  .Hero-address {
    padding: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem; }
    @media (any-hover: hover) {
      .Hero-address a:hover {
        color: #f5d015; } }
  @media (any-hover: hover) {
    .Hero-phone:hover {
      color: #f5d015; } }
  .Hero-hours {
    font-size: 1.15rem; }
  .Hero-cta {
    background-color: #f5d015; }
    @media only screen and (min-width: 769px) {
      .Hero-cta {
        margin-bottom: 3rem; } }

.Hero-cta,
.Footer-cta {
  padding: 3rem 1rem;
  text-align: center; }
  .Hero-cta--heading,
  .Footer-cta--heading {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
    font-size: 2rem;
    margin-top: 0; }
    @media only screen and (min-width: 769px) {
      .Hero-cta--heading,
      .Footer-cta--heading {
        font-size: 3rem; } }
  .Hero-cta--copy,
  .Footer-cta--copy {
    margin-bottom: 0; }
