@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Playfair+Display");
.serif {
  font-family: 'Playfair Display', serif; }

.sans-serif {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

.Hero-Menu {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  min-height: 15rem;
  padding: 1rem;
  text-align: center;
  background: #f5d015; }
  @media only screen and (min-width: 769px) {
    .Hero-Menu {
      min-height: 20rem; } }
  .Hero-Menu-heading {
    font-family: 'Playfair Display', serif;
    font-size: 2.25rem;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 769px) {
      .Hero-Menu-heading {
        font-size: 3rem; } }

.Menu {
  background: #fff; }
  .Menu-wrapper {
    max-width: 1400px;
    padding: 0 1rem;
    margin: 0 auto; }
    @media only screen and (min-width: 769px) {
      .Menu-wrapper {
        padding: 0 2rem; } }
  .Menu img {
    display: block;
    max-width: 100%;
    margin: 1rem auto;
    box-shadow: 0px 7px 16px -5px rgba(120, 120, 135, 0.5); }
    @media only screen and (min-width: 769px) {
      .Menu img {
        margin: 2rem auto; } }
