// makeshift reset
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background: $white;
  @include sans-serif;
  font-size: 1.125rem;
  color: $black;
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
