// @import url("https://fonts.googleapis.com/css?family=Lato|Libre+Baskerville");
// @import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display");
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400+700|Playfair+Display');

@mixin serif() {
  // font-family: 'Libre Baskerville', serif;
  font-family: 'Playfair Display', serif;
}

@mixin sans-serif() {
  // font-family: 'Playfair Display', serif;
  // font-family: 'Lato', sans-serif;
  font-family: 'News Cycle', sans-serif;
  font-weight: 400;
}

.serif {
  @include serif;
}

.sans-serif {
  @include sans-serif;
}

a {
  text-decoration: none;
  color: $nickel-gray;
  transition: color 0.25s ease-out;
  &:hover {
    color: $jet-black;
  }
}

strong {
  font-weight: 700;
}

p {
  font-size: 1.125rem;
  line-height: 1.25;
}
