@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Playfair+Display");
.serif {
  font-family: "Playfair Display", serif; }

.sans-serif {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

.Footer {
  padding: 2rem 0;
  background-color: #f5d015; }
  .Footer-wrapper {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    padding: 2rem 0;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center; }
    @media only screen and (min-width: 769px) {
      .Footer-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 2rem 1rem;
        text-align: left; } }
  .Footer-connect {
    font-size: 1.25rem; }
  .Footer-link {
    display: inline-block;
    margin: 1rem; }
    @media only screen and (min-width: 769px) {
      .Footer-link {
        margin-left: 0;
        margin-bottom: 0; } }
  .Footer-facebook, .Footer-instagram {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.25rem;
    transition: background 0.25s ease-out; }
    @media (any-hover: hover) {
      .Footer-facebook:hover, .Footer-instagram:hover {
        background-color: #a7adb2; } }
  .Footer-facebook {
    background-color: #fff; }
  .Footer-instagram {
    padding: 0.25rem;
    background-color: #e4405f; }
  .Footer-jacob {
    margin-bottom: 1rem; }
    @media only screen and (min-width: 769px) {
      .Footer-jacob {
        text-align: right; } }
