@import url("https://fonts.googleapis.com/css?family=Montserrat:300|Playfair+Display");
.serif {
  font-family: "Playfair Display", serif; }

.sans-serif {
  font-family: "Montserrat", sans-serif;
  font-weight: 300; }

.Testimonials {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 1rem 0; }
  @media only screen and (min-width: 769px) {
    .Testimonials {
      padding: 3rem 3rem 0; } }
  @media only screen and (min-width: 1200px) {
    .Testimonials {
      flex-direction: row;
      padding-bottom: 3rem; } }
