@import '../../../assets/scss/style';

.Hero-OurStory {
  display: none;
  @media only screen and (min-width: $medium) {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    padding: 1rem;
    text-align: center;
    background: $bbar-yellow;
  }

  @media only screen and (min-width: $desktop) {
    min-height: 20rem;
  }

  &-heading {
    @include serif;
    font-size: 2.25rem;
    margin-bottom: 2rem;

    @media only screen and (min-width: $desktop) {
      font-size: 3rem;
    }
  }

  &-title {
    @include serif;
    font-size: 1.25rem;

    @media only screen and (min-width: $desktop) {
      font-size: 2rem;
    }
  }
}

.OurStory {
  padding: 0;

  @media only screen and (min-width: $medium) {
    padding: 3rem 0;
  }

  &-title,
  &-heading {
    @include serif;
    text-align: center;

    @media only screen and (min-width: $medium) {
      display: none;
    }
  }

  &-title {
    font-size: 1.75rem;
  }

  &-heading {
    font-size: 1.25rem;
    margin-bottom: 1.75rem;
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;

    @media only screen and (min-width: $medium) {
      flex-direction: row;
      align-items: center;
    }
  }

  &-image {
    background-image: url(assets/janie-jake-blake.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
    min-height: 25rem;

    @media only screen and (min-width: $tablet) {
      min-height: 40rem;
    }

    @media only screen and (min-width: $medium) {
      min-height: 35rem;
      width: 35%;
    }
  }

  &-content {
    padding: 2rem 1rem 0;

    @media only screen and (min-width: $medium) {
      width: 65%;
      padding: 2rem;
    }
  }
}
